<% if @error %>
    <%= erb :'/_error_not_from_ar', layout: false, locals: { error: @error } %>
<% end %>

<nav align="right">

  <a href="/"><h4 class="inline">Home</h4></a>

  <% if !logged_in? %>

  <a href="/users/new"><h4 class="inline">Register</h4></a>

  <form class="inline" action="/sessions" method="post">
    <input type="email" name="new_login[email]" placeholder="email">

    <input type="password" name="new_login[password]" placeholder="password">
    <input type="submit" value="Login">
  </form>

  <% else %>

  <form class="inline" action="/sessions" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Logout">
  </form>

  <% end %>

</nav>
