<% if @user && @user.errors %>
  <ul>
 <%= erb :'_errors', locals: { errors: @user.errors } %>
  </ul>
<% end %>

<form id="registration_form" action="/users" method="post">

  <label for="new_user[email]" class="form_label">Email:</label>
  <input type="email" name="new_user[email]">
  <br>

  <label for="new_user[display_name]" class="form_label">Display Name:</label>
  <input type="text" name="new_user[display_name]">
  <br>

  <label for="new_user[password]" class="form_label">Password:</label>
  <input type="password" name="new_user[password]">
  <br>

  <label for="new_user[habitica_user_id]" class="form_label">Habitica User ID:</label>
  <input type="text" name="new_user[habitica_user_id]">
  <br>

  <label for="new_user[habitica_api_key]" class="form_label">Habitica API Key:</label>
  <input type="text" name="new_user[habitica_api_key]">
  <br>

  <input type="submit" value="Register">

</form>
